
body {
  margin:20px;
height: 100%;

}

html {
  height: 100%;
}


.dodavanjeTweeta {
  border:5px solid;
  padding:10px;
  height: 100px;
  margin-bottom:10px;
 
}
 img {
  max-width: 100%;
  height: 200px;
}



.profilbox {
  text-align: center;
  border:5px solid;
  padding:20px;
}



.Appa {
  border:5px solid;
  min-height: 100%;
  height: 100%;
}

.desnaStrana {
  min-height: 100%;
}

textarea {
  resize:none;
}

.tweet {
  
  border:1px solid;
}


.Appa img {
  height: 120px;
}